<div class="container">
    <div class = "container book">
        <h3>{{title}}</h3>
        <h4>By {{authorName}}</h4>
        <img src="{{imageURL}}">
        <uL>
            <li>Genre: {{genre}}</li>
            <li>Type:  {{type}}</li>
            <li>Description: {{description}}</li>
        </uL>
        <button><a href="/book/{{id}}">Download Book</a></button>
        <form method="POST" enctype="multipart/form-data" name = "commentForm" id="commentForm">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Add your comments about the book here</label>
            <textarea form= "commentForm"  class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
          </div>
          <input type="submit" value="Submit" id="btnSubmit"/>
        </form>
    </div>
</div>